nav {

    padding: 25px;
    background-image: url(https://cdn.pixabay.com/photo/2016/04/02/16/14/paper-1303096_1280.jpg);
    background-size: cover;
    font-family: "Vina Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #919191;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 30px;

    @media all and (min-width: 545px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    li {
        display: none;

        @media all and (min-width: 545px) {
            display: block;
        }
    }

    a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: "Vina Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #f9f2f1;
        text-align: center;
        padding: 14px 30px;
        background-color: #f8bbb0;
        transition: background .25s, box-shadow .15s;

        &:hover {
            color: #fabcb5;
            background: #f9f2f1;
            box-shadow: 0px 4px 0px 0px #f8d8ac;
        }

        @media all and (min-width: 545px) {
            padding: 20px;
        }
    }
}

h1 {
    font-family: "Vina Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f8daae;
    text-align: center;
    font-size: 55px;
    text-shadow: 2px 2px 4px #f8bbb0;
}

/* a {
    font-family: "Vina Sans", sans-serif;
    color: #e898a9;

    &:hover {
        color: #fabcb5;
        background: #f9f2f1;
        box-shadow: 0px 1px 0px 0px #f8d8ac;

    }

    text-decoration: none;
} */

a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #e898a9;
}

.link-div {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        bottom: 0;
        margin: -3px 0;
        background-color: #f8d8ac;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
}


body {
    background: #f9f2f1;
}

.form-control {
    position: relative;
    margin: auto;
    width: 50%;
    font-family: "Vina Sans", sans-serif;
    font-size: 25px;
    color: #cac4c0;
}

.form-control input {
    border: none;
    padding: 15px 0;
    display: block;
    font-size: 15px;
    width: 100%;
    transition: 0.2s ease-in;
}

#id_username {
    border: 0;
    padding: 15px 0;
    display: block;
    font-size: 15px;
    width: 100%;
    transition: 0.2s ease-in;
}

#id_password {
    border: 0;
    padding: 15px 0;
    display: block;
    font-size: 15px;
    font-family: "Vina Sans", sans-serif;
    width: 100%;
    transition: 0.2s ease-in;
}


.container-list {
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: "Vina Sans", sans-serif;
    color: #919191;
}

.container {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: "Vina Sans", sans-serif;
    color: #919191;
}

table {
    display: inline-table;
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: "Vina Sans", sans-serif;
    font-size: 20px;
    color: #ababab;
}

th {
    font-size: 35px;
    border-bottom: solid 2px #f8ccd9;

}

td {
    color: #e898a9;
    padding-bottom: 2px;
    font-size: 35px;
}

button {
    animation: wiggle 1s linear infinite;
}

/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.button-div {
    display: flex;
    justify-content: center;


    button {
        position: relative;


        height: 4em;
        width: 7em;

        background: #fabcb5;
        background: linear-gradient(top, #D2CBFD, #AEA6DF);
        border: none;
        border-top: 3px solid DBDBDB;
        border-radius: 0 0 0.2em 0.2em;
        color: #fcf9fa;
        font-family: "Vina Sans", sans-serif;
        font-size: 1em;
        transform-origin: 50% 5em;
    }
}
