{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
    <link rel="stylesheet" href="{% static "css/projects.css" %}">
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap" rel="stylesheet">
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'list_projects' %}">My projects</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>My Tasks</h1>
            {% if task_list %}
                <table>
                    <div class="thead">
                        <tr>
                            <th>Task</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Status</th>
                        </tr>
                    </div>
                    <div class="tbody">
                        {% for task in task_list %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:'complete,not complete' }}</td>
                        </tr>
                        {% endfor %}
                    </div>
                </table>
            {% else %}
                <p>You have no tasks right now</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
