{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="{% static "css/projects.css" %}">
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap" rel="stylesheet">
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'list_projects' %}">My projects</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="content-div">
            <h1 class="text_shadows">My Projects</h1>
        </div>
        <div class="container-list">
        <p>
            <a href="{% url 'create_project' %}">Create New Project</a>
        </p>
        {% if list_projects %}
            <table>
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Tasks Assigned</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in list_projects %}
                    <tr>
                        <td>
                            <div class="link-div">
                                <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                            </div>
                        </td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You are not assigned to any projects right now</p>
        {% endif %}
        </div>
    </main>
</body>
</html>
